<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="MTS Nuget Proxy Cache" value="https://nexus-cache.services.mts.ru/repository/nuget.org-v3-proxy/index.json" />
    <add key="MTS Nuget Proxy" value="https://nexus.services.mts.ru/repository/nuget.org-v3-proxy/index.json" protocolVersion="3" />
    <add key="Salsa-NuGet" value="https://gitlab.services.mts.ru/api/v4/projects/124427/packages/nuget/index.json" />
    <add key="Salsa-NuGet-2" value="https://gitlab.services.mts.ru/api/v4/projects/212659/packages/nuget/index.json" />
    <add key="CSGuild-Codegen-NuGet" value="https://gitlab.services.mts.ru/api/v4/projects/201119/packages/nuget/index.json" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
  <packageSourceMapping>
    <packageSource key="MTS Nuget Proxy Cache">
      <package pattern="*" />
      <package pattern="ApiCodeGenerator.*" />
    </packageSource>
    <packageSource key="MTS Nuget Proxy">
      <package pattern="*" />
      <package pattern="ApiCodeGenerator.*" />
    </packageSource>
    <packageSource key="CSGuild-Codegen-NuGet">
      <package pattern="Svcutil.*" />
      <package pattern="ApiCodeGenerator.*" />
    </packageSource>   
    <packageSource key="Salsa-NuGet-2">
      <package pattern="Salsa.Observability" />
    </packageSource>
    <packageSource key="Salsa-NuGet">
      <package pattern="Salsa.*" />
    </packageSource>
  </packageSourceMapping>  
</configuration>
